*_Output
*.vtk
*.exe
*~
*.log
build
.vscode
*.DS_STORE
CMakeFiles
Makefile
doxygen_doc
compile_commands.json
.clangd
*.spv
*.vsidx
*.lock
*.db
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
